# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.DS_Store

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# AWS
.aws/
node_modules
